h2{
   margin: 0 0 10% 0;
   font-size: 10rem;
   text-align: center;
   color: #fcedd8;
   font-family: 'Niconne', cursive;
   font-weight: 700;
   text-shadow: 
               5px 5px 0px #ff893b, 
               10px 10px 0px #465461, 
               15px 15px 0px #0f30007c;
}