<h2 class="p">Register a new Meal</h2>
<div class="formulario">
   <form action="">
      <p class="p"> Name: <input type="text" name="name" [(ngModel)]="meal.strMeal"> </p>
      <p class="p"> Category: <input type="text" name="category" [(ngModel)]="meal.strCategory"> </p>
      <p class="p"> Nationality: <input type="text" name="nationality" [(ngModel)]="meal.strArea"> </p>
      <button type="button" (click)="cadastrar()">Cadastrar</button>
   </form>
</div>

<div class="grid">
   <input type="text" [(ngModel)]="searchedMeal">
   <button (click)="search()">Buscar</button>
   <h2 class="currentMeals"> Current meals: </h2>
   <div class="container">
      <div class="todos" *ngFor="let meal of meals">
         <div class="polaroid">
            <img class="image" src="{{meal.strMealThumb}}" alt="Meal Image">
            <p class="str">{{meal.strMeal}}</p>
            <p class="str">{{meal.strCategory}}</p>
            <p class="str">{{meal.strArea}}</p>
         </div>
      </div>
   </div>
</div>